.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:56px;
  width:375px;
  /* margin: 0 0 30px; */
  background-color: #787878;
  overflow: hidden;
}
.hours {
  font-size: 35px;
}
.nav a {
  text-decoration: none;
}
.MuiIcon-root{
  color:white;
  background-color: white;
}
.MuiIcon-colorAction{
  color:white;
  background-color: white;
}
.MuiIcon-colorPrimary{
  color: inherit
}
.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 2px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  /* background-color: #333333; */
  text-align: center;
  /* padding: 24px 10px; */
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {

}
